/**
 * A simple theme for reveal.js presentations, similar
 * to the default theme. The accent color is darkblue.
 *
 * This theme is Copyright (C) 2012 Owen Versteeg, https://github.com/StereotypicalApps. It is MIT licensed.
 * reveal.js is Copyright (C) 2011-2012 Hakim El Hattab, http://hakim.se
 */


// Default mixins and settings -----------------
@import "../template/mixins";
@import "../template/settings";
// ---------------------------------------------



// Include theme-specific fonts
@import url(https://fonts.googleapis.com/css?family=News+Cycle:400,700);
@import url(https://fonts.googleapis.com/css?family=Lato:400,700,400italic,700italic);


// Override theme settings (see ../template/settings.scss)
$mainFontSize: 26pt;

$mainFont: 'Lato', sans-serif;
$mainColor: #E0E0E0;
$headingFont: 'News Cycle', Impact, sans-serif;
$headingColor: #009900;
$headingTextShadow: none;
$headingTextTransform: none;
$backgroundColor: #404040;
$linkColor: #F5F5F5;
$linkColorHover: lighten( $linkColor, 20% );
$selectionBackgroundColor: rgba(0, 0, 0, 0.99);
$headingBackgroundColor: #303030;

section.has-dark-background {
	&, h1, h2, h3, h4, h5, h6 {
		color: #fff;
	}
}

h1.title, p.author, p.date
{
	text-align: center;
}

.reveal h1.title 
{
	margin-top: 2em;
	font-size: 3em;
}

.reveal p.author 
{
	font-size: 0.9em;
}

.reveal p.date 
{
	font-size: 0.8em;
}

.reveal .slide h1::before,
.reveal .slide h2::before
{
	content: "~ $ ";
	font-family: "Courier new", "monospace";
	margin-left: -2em;
}

.reveal .slide h1,
.reveal .slide h2
{
	border-bottom-color: $headingColor;
	border-bottom-width: 1px;
	border-bottom-style: solid;
	background-color: $headingBackgroundColor;
}

$heading1Size: 1.71em;
$heading2Size: 1.63em;
$heading3Size: 1.41em;
$heading4Size: 1.00em;

.reveal .slides {
	text-align: justify;
}
.reveal .slides section>* {
	margin-left: 0;
	margin-right: 0;
}

.reveal li li {
	font-size: 0.8em;
}

.reveal li li li {
	font-size: 0.6em;
}

// Theme template ------------------------------
@import "../template/theme";
// ---------------------------------------------
